Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@carltonsmith 
vintasoftware
/
django-react-boilerplate
44
960
226
Code
Issues
54
Pull requests
26
Actions
Security
Insights
django-react-boilerplate/.gitignore
@osantana
osantana 💄 Make explicit that .idea is a directory in .gitignore
Latest commit ff00648 on Mar 24
 History
 11 contributors
@fjsj@vanessa@victorfsf@pantoja@rsarai@osantana@lucabezerra@laisvarejao@filipeximenes@aericson@andersonresende
48 lines (39 sloc)  519 Bytes
  
*.pyc
/backend/db.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# Sass
.sass-cache
*.map

# General
/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
