[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs = "*"
factory-boy = "*"
flake8 = "*"
flake8-docstrings = "*"
isort = "*"
nose-progressive = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
pyparsing = "*"
pygraphviz = "*"

[packages]
boto3 = "~=1.17.79"
cryptography = "~=3.3.1"
django = "~=3.1"
django-configurations = "~=2.2"
django-cors-headers = "~=3.6.0"
django-extensions = "~=3.1.0"
django-filter = "~=2.4.0"
django-model-utils = "~=4.1.1"
django-storages = "~=1.10.1"
django-unique-upload = "~=0.2.1"
djangorestframework = "~=3.12.2"
dj-database-url = "~=0.5.0"
gunicorn = "~=20.0.4"
ipdb = "~=0.13.4"
ipython = "~=7.19.0"
jwcrypto = "~=0.8"
markdown = "~=3.3.3"
psycopg2-binary = "~=2.8.6"
pyjwt = "==1.7.1"
python-dotenv = "~=0.15.0"
requests = "~=2.25.0"
django-admin-logs = "~=1.0.1"
drf-yasg = "~=1.20.0"
wait-for-it = "==2.2.0"

[requires]
python_version = "3.8"
