[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"
awscli-local = "*"
factory-boy = "*"
flake8 = "*"
flake8-docstrings = "*"
isort = "*"
mkdocs = "*"
nose-progressive = "*"
pygraphviz = "*"
pyparsing = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"

[packages]
boto3 = "==1.17.103"
cryptography = "==3.4.7"
dj-database-url = "==0.5.0"
django = "==3.2.5"
django-admin-508 = "==0.0.2"
django-admin-logs = "==1.0.2"
django-configurations = "==2.2"
django-cors-headers = "==3.7.0"
django-extensions = "==3.1.3"
django-filter = "==2.4.0"
django-model-utils = "==4.1.1"
django-storages = "==1.11.1"
django-unique-upload = "==0.2.1"
djangorestframework = "==3.12.4"
drf-yasg = "==1.20.0"
gunicorn = "==20.0.4"
ipdb = "==0.13.9"
ipython = "==7.24.1"
jwcrypto = "==0.9.1"
markdown = "==3.3.4"
psycopg2-binary = "==2.8.6"
pyjwt = "==2.1.0"
requests = "==2.26.0"
wait-for-it = "==2.2.0"

[requires]
python_version = "3.8"
