@import 'theme/_global.scss';

html, body, div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.usa-banner__header {
  display: none;
}

main#main-content {
  flex: 1;
  padding: 0;
  margin: 0;
}
