.header-link.header-link {
  color: #264A64;
  font-family: Arial, Helvetica, sans-serif;
}

.usa-nav__primary > .usa-nav__primary-item > a:hover {
  color: #A12854;
}

.usa-header--extended .usa-nav__primary-item > .usa-current::after, 
.usa-header--extended .usa-nav__primary-item > .usa-nav__link:hover::after {
  background-color: #A12854;
}