.usa-combo-box__input--error {
  border: .25rem solid #b50909;
}

.aligned-hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100vw;
  max-width: none;

  // Visually shift it to start where grid-col-8 starts
  margin-left: calc((100% / 8) * 2); 
  margin-right: calc((100% / 8) * 2); // optional: match right edge
}

  .button-container {
    display: flex;
  }

  .request-access-button {
    min-width: '300px'
  } 