// There are some minor changes that need to be made before releasing beta,
// these are captured in issue #276: https://github.com/raft-tech/TANF-app/issues/276

.resources-header {
  color: #221122;
}

.usa-hero__callout {
  background-color: #E2EFF7;
  font-family: $sans-serif;
}

.usa-hero__heading--alt {
  color: #264A64;
}

.sign-in-button,
.sign-in-button:hover {
  background-color: #336A90;
  font-family: $sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.resource-info__secondary {
  font-family: $sans-serif;
  font-size: 16px;
}

.usa-card__header {
  font-family: 'serif';
}

.resource-card {
  height: 182px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 640px) {
  .resource-info__secondary {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .sign-in-button {
    flex-direction: column;
    align-content: center;
    margin: auto;
  }
}
