<!DOCTYPE html>
<html lang="en-us" >
  <head>
    <title>Log in | Django site admin</title>
      <link rel="stylesheet" type="text/css" href="https://cg-352726bb-a8a2-4f03-979f-ffd7ab5fbc5a.s3.us-gov-west-1.amazonaws.com/admin/css/base.css">
      <link rel="stylesheet" type="text/css" href="https://cg-352726bb-a8a2-4f03-979f-ffd7ab5fbc5a.s3.us-gov-west-1.amazonaws.com/admin/css/nav_sidebar.css">
      <script src="https://cg-352726bb-a8a2-4f03-979f-ffd7ab5fbc5a.s3.us-gov-west-1.amazonaws.com/admin/js/nav_sidebar.js" defer></script>
      <link rel="stylesheet" type="text/css" href="https://cg-352726bb-a8a2-4f03-979f-ffd7ab5fbc5a.s3.us-gov-west-1.amazonaws.com/admin/css/login.css">
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <link rel="stylesheet" type="text/css" href="https://cg-352726bb-a8a2-4f03-979f-ffd7ab5fbc5a.s3.us-gov-west-1.amazonaws.com/admin/css/responsive.css">
      <meta name="robots" content="NONE,NOARCHIVE">
  </head>
  <body class="login" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
      <!-- Header -->
      <div id="header">
        <div id="branding">
          <h1 id="site-name"><a href="/admin/">Django administration</a></h1>
        </div>
      </div>
      <!-- END Header -->
      <div class="main shifted" id="main">
        <div class="content">
          <!-- Content -->
          <div id="content" class="colM">
            <div id="content-main">
            </div>
            <br class="clear">
          </div>
          <!-- END Content -->
          <div id="footer"></div>
        </div>
      </div>
    </div>
    <!-- END Container -->
  </body>
</html>
