# UI
tdrs-frontend/node_modules/
tdrs-frontend/build/
tdrs-frontend/coverage/
tdrs-frontend/cypress/videos/
tdrs-frontend/cypress/support/
tdrs-frontend/cypress/screenshots/
tdrs-frontend/cypress/fixtures/example.json
tdrs-frontend/npm-debug.log*
tdrs-frontend/yarn-debug.log*
tdrs-frontend/yarn-error.log*
tdrs-frontend/vars-frontend.yml
tdrs-frontend/pa11y-screenshots/*
# Don't commit local environment override files
tdrs-frontend/.env*.local

#BACKEND
tdrs-backend/vars-backend.yml
tdrs-backend/coverage.xml
tdrs-backend/htmlcov/*
tdrs-backend/.env
*.pyc
/backend/db.sqlite3
.DS_Store
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/
venv
*.sqlite3
*.sqlite3-journal
**/__pycache__
tmp
*.pem
*.rsa
*.txt
compliance/opencontrols/
compliance/exports/
tdrs-backend/tdpservice/static/*

# don't ignore requirements.txt
!requirements.txt

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# Sass
.sass-cache
*.map

# General
/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss


# Testing files
htmlcov/*

# Commmon
.DS_Store

# Coverage
tdrs-backend/htmlcov/*

# VIM
*.swp
