[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	patterns = .+_KEY=.+
	allowed = [A-Z]+_KEY=..echo \".{S3_CREDENTIALS}\" [|] jq -r .+
	allowed = ./tdrs-backend/.env.example:.*
	allowed = ./tdrs-backend/docker-compose.yml:57:.*
	allowed = regexes.json:.*
	allowed = ./scripts/copy-login-gov-keypair.sh:14:JWT_KEY=.*
	allowed = ./scripts/set-backend-env-vars.sh:24:DJANGO_SECRET_KEY=.*
	allowed = .git/config:.*
	allowed = .gitconfig:.*
	allowed = .*DJANGO_SECRET_KEY=.*tdp-dev-insecure
