#API
venv
*.sqlite3
*.sqlite3-journal
**/__pycache__
tmp
*.pem
compliance/opencontrols/
compliance/exports/

# UI
tdrs-frontend/node_modules/
tdrs-frontend/build/
tdrs-frontend/coverage/
tdrs-frontend/cypress/videos/
tdrs-frontend/cypress/support/
tdrs-frontend/cypress/screenshots/
tdrs-frontend/npm-debug.log*
tdrs-frontend/yarn-debug.log*
tdrs-frontend/yarn-error.log*

# General
.DS_Store
