#workflows:
  deployment:
    when:
      and:
        - or:
            - equal: [ master, << pipeline.git.branch >> ]
            - equal: [ main, << pipeline.git.branch >> ]
            - equal: [ develop, << pipeline.git.branch >> ]
            - << pipeline.parameters.run_dev_deployment >>
        - not: << pipeline.parameters.run_nightly_owasp_scan >>

    jobs:
      - deploy-project-updates-site:
          filters:
            branches:
              only:
                - develop
                - master
      - deploy-infrastructure-dev:
          target_env: << pipeline.parameters.target_env >>
          filters:
            branches:
              ignore:
                - develop
                - main
                - master
      - deploy-infrastructure-staging:
          filters:
            branches:
              only:
                - develop
                - main
      - deploy-infrastructure-production:
          filters:
            branches:
              only:
                - master
      - enable-versioning:
          requires:
            - deploy-infrastructure-dev
          filters:
            branches:
              ignore:
                - develop
                - main
                - master
      - enable-versioning:
          requires:
            - deploy-infrastructure-staging
          target_env: develop
          cf-password: CF_PASSWORD_STAGING
          cf-username: CF_USERNAME_STAGING
          cf-space: tanf-staging
          filters:
            branches:
              only:
                - develop
      - enable-versioning:
          requires:
            - deploy-infrastructure-staging
          target_env: staging
          cf-password: CF_PASSWORD_STAGING
          cf-username: CF_USERNAME_STAGING
          cf-space: tanf-staging
          filters:
            branches:
              only:
                - main
      - enable-versioning:
          requires:
            - deploy-infrastructure-production
          target_env: prod
          cf-password: CF_PASSWORD_PROD
          cf-username: CF_USERNAME_PROD
          cf-space: tanf-prod
          filters:
            branches:
              only:
                - master
      - prod-deploy-clamav:
          requires:
            - deploy-infrastructure-production
          filters:
            branches:
              only:
                - master
      - deploy-dev:
          target_env: << pipeline.parameters.target_env >>
          requires:
            - deploy-infrastructure-dev
          filters:
            branches:
              ignore:
                - develop
                - main
                - master
      - deploy-develop:
          requires:
            - deploy-infrastructure-staging
          filters:
            branches:
              only:
                - develop
      - deploy-staging:
          requires:
            - deploy-infrastructure-staging
          filters:
            branches:
              only:
                - main
      - deploy-production:
          requires:
            - deploy-infrastructure-production
          filters:
            branches:
              only:
                - master
      - test-deployment-e2e:
          requires:
            - deploy-develop
          filters:
            branches:
              only:
                - develop
      - make_erd: # from ../util folder
          filters:
            branches:
              only:
                - develop
                - master
