  <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a href="./index.html">Getting Started</a>
        </li>
        <li>
        <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item">
        <a href="./create-new-login.html">Create a New Login.gov Account</a>
        </li>

        <li class="usa-sidenav__item">
        <a href="./existing-login.html">Use an Existing Login.gov Account</a>
        </li>

        <li class="usa-sidenav__item">
        <a href="./about-email-notifications.html">About Email Notifications</a>
        </li>
        <li class="usa-sidenav__item">
        <a href="./faq.html">Frequently Asked Questions</a>
        </li>

      </ul>
</li>


        <li class="usa-sidenav__item">
        <a href="uploading-data.html">Submitting TANF Data</a>
        </li>
        <li>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
          <a href="./view-submission-history.html">Viewing Submission History</a>
          </li>

          <li class="usa-sidenav__item">
          <a href="./viewing-error-reports.html">Understanding TANF Error Reports and File Structure</a>
          </li>

                              <li class="usa-sidenav__item">
              <a href="./feedback-reports.html">Viewing Feedback Reports</a>
            </li>

          <li class="usa-sidenav__item">
          <a href="./complete-resubmissions.html">Resubmitting Complete Data Files</a>
          </li>

          <li class="usa-sidenav__item">
          <a href="./exporting-complete-data-using-ftanf.html">Exporting Complete Data Using FTANF</a>
          </li>

        </ul>
      </li>




                    <li class="usa-sidenav__item">
              <a href="./program-integrity-audit.html">Submitting Program Integrity Audit Data</a>
            </li>

      <li class="usa-sidenav__item">
        <a href="./submitting-fra-data.html">Submitting FRA Data</a>
        </li>

        <li>
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
            <a href="./fra-error-reports.html">Understanding FRA Error Reports and File Structure</a>
            </li>

          </ul>
        </li>

        <li class="usa-sidenav__item">
        <a href="./managing-your-account.html">Managing Your Account</a>
        </li>
      
       <li class="usa-sidenav__item">
        <a href="./release-notes.html">Release Notes</a>
        </li>

        <li class="usa-sidenav__item">
        <a href="./give-feedback.html">Give Feedback</a>
        </li>

      </ul>