           <div class="usa-alert usa-alert--warning">
  <div class="usa-alert__body" style="padding-left: 16px;">
    <!-- <h2 class="usa-alert__heading"><span aria-hidden="true">⚠️</span>Notifications Temporarily Unavailable</h2> -->
    <p class="usa-alert__text">
      ⚠️ Annual funding for much of the federal government expired at 11:59pm ET on Tuesday, September 30, 2025. As a result, certain federal government activities have ceased due to a lack of appropriated funding. This means: <br><br> (a) information on the TDP website may not be up to date,<br> (b) data submitted via the TDP website might not be processed until appropriations are enacted, and <br> (c) the agency may not be able to respond to inquiries until appropriations are enacted.
    </p>
    
  </div>
</div> 

              <div style="min-height: 22px;"></div>
        <div style="min-height: 22px;"></div>