version: 2.1

orbs:
  node: circleci/node@4.2.1
  terraform: circleci/terraform@2.1.0
  jq: circleci/jq@2.2.0

executors:
  docker-executor:
    docker:
      - image: cimg/python:3.8.10
        user: root
  machine-executor:
    machine:
      docker_layer_caching: false
      image: ubuntu-2004:202104-01

commands:
  ###
  # General re-usable commands
  #
  cf-check:
    steps:
      - run:
          name: Ensure cf cli is installed, otherwise install it.
          command: sudo ./scripts/cf-check.sh

  docker-compose-check:
    steps:
      - run:
          name: Ensure docker-compose exists, otherwise install it.
          command: ./scripts/docker-compose-check.sh

  # This allows us to use the orb stanza for node/install within other commands
  # NOTE: This doesn't work correctly on machine executors
  install-nodejs: node/install

  # This allows us to use the node orb to install packages within other commands
  install-nodejs-packages: node/install-packages

  install-nodejs-machine:
    description: |
      Installs our target version of Node.JS using NVM (Node Version Manager)
      from the install location provided by machine executor images.
    steps:
      - run:
          name: Install Node.JS
          command: |
            source /opt/circleci/.nvm/nvm.sh
            nvm install v12.18
            nvm alias default v12.18
            echo 'export NVM_DIR="/opt/circleci/.nvm"' >> $BASH_ENV
            echo "[ -s \"$NVM_DIR/nvm.sh\" ] && . \"$NVM_DIR/nvm.sh\"" >> $BASH_ENV

  run-owasp-scan:
    description: Runs OWASP ZAP scanner and stores resulting artifacts.
    parameters:
      environment:
        description: The environment this script is being run for.
        type: enum
        enum: ["circle", "nightly"]
      target:
        description: The target application to be scanned.
        type: enum
        enum: ["backend", "frontend"]
    steps:
      - run:
          name: Execute OWASP ZAP vulnerability scan
          command: ./scripts/zap-scanner.sh <<parameters.target>> <<parameters.environment>>
      - store_artifacts:
          path: tdrs-<<parameters.target>>/reports/owasp_report.html

  sudo-check:
    steps:
      - run:
          name: Ensure sudo is installed, otherwise install it.
          command: ./scripts/sudo-check.sh

  upload-codecov:
    description: Uploads testing code coverage results to Codecov
    parameters:
      component:
        description: The component of the application being tested, either backend or frontend.
        type: enum
        enum: ["backend", "frontend"]
      coverage-report:
        description: The path to the coverage report being uploaded.
        type: string
    steps:
      - run:
          name: Ensure Codecov uploader is installed, otherwise install it.
          command: ./scripts/codecov-check.sh
      - run:
          name: Determine Codecov metric flag
          command: |
            if [ "$CIRCLE_BRANCH" == "main" ] ; then
              CURRENT_FLAG=main-<<parameters.component>>
            else
              CURRENT_FLAG=dev-<<parameters.component>>
            fi
            echo "export CURRENT_FLAG=$CURRENT_FLAG" >> $BASH_ENV
      - run:
          name: Upload code coverage report if target branch
          command: codecov -t "$CODECOV_TOKEN" -f <<parameters.coverage-report>> -F "$CURRENT_FLAG"

  ###
  # Deployment commands
  #
  login-cloud-dot-gov:
    description: Authenticates with Cloud.gov and sets org and space targets
    parameters:
      cf-password:
        type: env_var_name
        default: CF_PASSWORD_DEV
      cf-org:
        type: env_var_name
        default: CF_ORG
      cf-space:
        type: string
        default: tanf-dev
      cf-username:
        type: env_var_name
        default: CF_USERNAME_DEV
    steps:
      - run:
          name: Login to Cloud.gov and set application targets
          command: |
            cf login -a https://api.fr.cloud.gov \
              -u ${<<parameters.cf-username>>} \
              -p ${<<parameters.cf-password>>} \
              -o ${<<parameters.cf-org>>} \
              -s <<parameters.cf-space>>

  get-app-deploy-strategy:
    parameters:
      appname:
        type: string
    steps:
      - run:
          name: Determine deploy strategy
          command: |
            # NOTE: The || true is a no-op included to suppress exit codes which
            #       would cause the step to exit early due to use of pipefail
            APP_GUID=$(cf app <<parameters.appname>> --guid || true)
            if [ "$APP_GUID" == "FAILED" ]; then
              echo "export DEPLOY_STRATEGY=initial" >> $BASH_ENV
            else
              echo "export DEPLOY_STRATEGY=rolling" >> $BASH_ENV
            fi

  deploy-backend:
    parameters:
      backend-appname:
        default: tdp-backend
        type: string
    steps:
      - get-app-deploy-strategy:
          appname: <<parameters.backend-appname>>
      - run:
          name: Deploy backend application
          command: |
            bash ./scripts/deploy-backend.sh \
              $DEPLOY_STRATEGY \
              <<parameters.backend-appname>>

  deploy-clamav:
    parameters:
      backend-appname:
        default: tdp-backend
        type: string
      cf-org:
        default: CF_ORG
        type: env_var_name
      cf-space:
        default: tanf-dev
        type: string
    steps:
      - run:
          name: Delete existing ClamAV REST application
          command: cf delete -r clamav-rest -f
      - run:
          name: Deploy ClamAV REST application
          command: |
            cf push clamav-rest -f tdrs-backend/manifest.clamav.yml \
              --var cf-space=<<parameters.cf-space>>
      - run:
          name: Enable internal route between backend and clamav-rest apps
          command: |
            cf add-network-policy <<parameters.backend-appname>> clamav-rest \
              -s <<parameters.cf-space>> \
              -o ${<<parameters.cf-org>>} \
              --protocol tcp \
              --port 9000

  deploy-frontend:
    parameters:
      backend-appname:
        default: tdp-backend
        type: string
      frontend-appname:
        default: tdp-frontend
        type: string
    steps:
      - install-nodejs:
          install-yarn: true
          node-version: "12.18"
      - install-nodejs-packages:
          app-dir: tdrs-frontend
          pkg-manager: yarn
      - get-app-deploy-strategy:
          appname: <<parameters.frontend-appname>>
      - run:
          name: Deploy frontend application
          command: |
            bash ./scripts/deploy-frontend.sh \
              $DEPLOY_STRATEGY \
              <<parameters.frontend-appname>> \
              <<parameters.backend-appname>>

  deploy-cloud-dot-gov:
    parameters:
      backend-appname:
        default: tdp-backend
        type: string
      cf-password:
        default: CF_PASSWORD_DEV
        type: env_var_name
      cf-org:
        default: CF_ORG
        type: env_var_name
      cf-space:
        default: tanf-dev
        type: string
      cf-username:
        default: CF_USERNAME_DEV
        type: env_var_name
      frontend-appname:
        default: tdp-frontend
        type: string
    steps:
      - checkout
      - sudo-check
      - cf-check
      - login-cloud-dot-gov:
          cf-password: <<parameters.cf-password>>
          cf-org: <<parameters.cf-org>>
          cf-space: <<parameters.cf-space>>
          cf-username: <<parameters.cf-username>>
      - deploy-backend:
          backend-appname: <<parameters.backend-appname>>
      - deploy-clamav:
          backend-appname: <<parameters.backend-appname>>
          cf-org: <<parameters.cf-org>>
          cf-space: <<parameters.cf-space>>
      - deploy-frontend:
          backend-appname: <<parameters.backend-appname>>
          frontend-appname: <<parameters.frontend-appname>>

  deploy-infrastructure:
    parameters:
      tf-path:
        type: string
        default: ./terraform/dev
      cf-password:
        type: env_var_name
        default: CF_PASSWORD_DEV
      cf-username:
        type: env_var_name
        default: CF_USERNAME_DEV
      cf-space:
        type: string
        default: tanf-dev
      cf-org:
        type: env_var_name
        default: CF_ORG
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apk update
            apk add jq
            apk add cloudfoundry-cli --repository=http://dl-cdn.alpinelinux.org/alpine/edge/testing/
      - login-cloud-dot-gov
      - run:
          name: Export S3 Credentials for TFState
          command: |
            S3_CREDENTIALS=$(cf service-key tdp-tf-states tdp-tf-key | tail -n +2)
            {
              echo "access_key = \"$(echo "${S3_CREDENTIALS}" | jq -r .access_key_id)\""
              echo "secret_key = \"$(echo "${S3_CREDENTIALS}" | jq -r .secret_access_key)\""
              echo "region = \"$(echo "${S3_CREDENTIALS}" | jq -r '.region')\""
            } >> ./backend_config.tfvars
      - run:
          name: Prepare Terraform Variables
          command: |
            {
              echo "cf_password = \"$<<parameters.cf-password>>\""
              echo "cf_user = \"$<<parameters.cf-username>>\""
              echo "cf_space_name = \"<<parameters.cf-space>>\""
            } >> ./variables.tfvars

      - terraform/init:
          path: <<parameters.tf-path>>
          backend_config_file: ./backend_config.tfvars
      - terraform/validate:
          path: <<parameters.tf-path>>
      - terraform/fmt:
          path: <<parameters.tf-path>>
      - terraform/plan:
          path: <<parameters.tf-path>>
          var_file: ./variables.tfvars
      - terraform/apply:
          path: <<parameters.tf-path>>
          var_file: ./variables.tfvars

jobs:
  secrets-check:
    executor: docker-executor
    branches:
    steps:
      - checkout
      - run:
          name: "git-secrets: Scan repository for committed secrets"
          command: ./scripts/git-secrets-check.sh
      - run:
          name: "trufflehog: Scan repository for committed secrets"
          command: ./scripts/trufflehog-check.sh $CIRCLE_BRANCH

  test-backend:
    executor: machine-executor
    steps:
      - checkout
      - docker-compose-check
      - run:
          name: Build and Spin-up Django API Service
          command: cd tdrs-backend; docker-compose up -d --build
      - run:
          name: Execute Python Linting Test
          command: cd tdrs-backend; docker-compose run --rm web bash -c "flake8 ."
      - run:
          name: Run Unit Tests And Create Code Coverage Report
          command: |
            cd tdrs-backend;
            docker-compose run --rm web bash -c "./wait_for_services.sh && pytest --cov-report=xml"
      - upload-codecov:
          component: backend
          coverage-report: ./tdrs-backend/coverage.xml

  test-frontend:
    executor: machine-executor
    working_directory: ~/tdp-apps
    steps:
      - checkout
      - install-nodejs-machine
      - node/install-yarn
      - install-nodejs-packages:
          app-dir: tdrs-frontend
          cache-path: ~/.cache
          cache-version: v2
          pkg-manager: yarn
      - run:
          name: Run ESLint
          command: cd tdrs-frontend; yarn lint
      - run:
          name: Run Pa11y Accessibility Tests
          command: cd tdrs-frontend; mkdir pa11y-screenshots/; yarn test:accessibility
      - run:
          name: Run Jest Unit Tests
          command: cd tdrs-frontend; yarn test:ci
      - upload-codecov:
          component: frontend
          coverage-report: ./tdrs-frontend/coverage/lcov.info
      - run:
          name: Install lib bindings for Cypress
          command: |
            sudo apt-get update
            sudo apt-get install -y libgbm-dev
      - run:
          name: Run Cypress Integration Tests
          command: cd tdrs-frontend; yarn cy:run:ci
      - store_artifacts:
          path: tdrs-frontend/pa11y-screenshots/

  backend-owasp-scan:
    executor: machine-executor
    working_directory: ~/tdp-apps
    steps:
      - checkout
      - docker-compose-check
      - run:
          name: Build and Spin-up Django API Service
          command: cd tdrs-backend; docker-compose up -d --build
      - run:
          name: Wait for backend services to become available
          command: |
            cd tdrs-backend;
            docker-compose run --rm web bash -c "./wait_for_services.sh"
      - run-owasp-scan:
          environment: circle
          target: backend

  frontend-owasp-scan:
    executor: machine-executor
    working_directory: ~/tdp-apps
    steps:
      - checkout
      - docker-compose-check
      - run:
          name: Build and Spin-up React with Nginx target
          command: cd tdrs-frontend; docker-compose up -d --build
      - run-owasp-scan:
          environment: circle
          target: frontend

  nightly-owasp-scan:
    executor: machine-executor
    working_directory: ~/tdp-apps
    steps:
      - checkout
      - sudo-check
      - cf-check
      - docker-compose-check
      - run-owasp-scan:
          environment: nightly
          target: backend
      - run-owasp-scan:
          environment: nightly
          target: frontend
      - login-cloud-dot-gov:
          cf-password: CF_PASSWORD_STAGING
          cf-space: tanf-staging
          cf-username: CF_USERNAME_STAGING
      - run:
          name: Run post-processing task to record OWASP ZAP results
          command: |
            # These environment variables are exported to Circle CI's BASH_ENV
            # by the zap-scanner.sh script for each respective app target.
            CMD_ARGS=(
              "$CIRCLE_BUILD_NUM"
              --backend-pass-count ${ZAP_BACKEND_PASS_COUNT:-0}
              --backend-warn-count ${ZAP_BACKEND_WARN_COUNT:-0}
              --backend-fail-count ${ZAP_BACKEND_FAIL_COUNT:-0}
              --frontend-pass-count ${ZAP_FRONTEND_PASS_COUNT:-0}
              --frontend-warn-count ${ZAP_FRONTEND_WARN_COUNT:-0}
              --frontend-fail-count ${ZAP_FRONTEND_FAIL_COUNT:-0}
            )

            # Evaluate the full command before passing it in so it doesn't
            # get improperly interpolated by Cloud.gov.
            CMD="python manage.py process_owasp_scan ${CMD_ARGS[@]}"

            # Submit a CF Task for execution that will run the necessary command
            cf run-task tdp-backend-staging \
              --command "$CMD" \
              --name nightly-owasp-scan

  deploy-infrastructure-dev:
    executor: terraform/default
    working_directory: ~/tdp-deploy
    steps:
      - deploy-infrastructure

  deploy-dev:
    executor: docker-executor
    parameters:
      target_env:
        type: string
    working_directory: ~/tdp-deploy
    steps:
      - deploy-cloud-dot-gov:
          backend-appname: tdp-backend-<< parameters.target_env >>
          frontend-appname: tdp-frontend-<< parameters.target_env >>

  deploy-infrastructure-staging:
    executor: terraform/default
    working_directory: ~/tdp-deploy
    steps:
      - deploy-infrastructure:
          cf-password: CF_PASSWORD_STAGING
          cf-username: CF_USERNAME_STAGING
          cf-space: tanf-staging
          tf-path: ./terraform/staging

  deploy-staging:
    executor: docker-executor
    working_directory: ~/tdp-deploy
    steps:
      - deploy-cloud-dot-gov:
          backend-appname: tdp-backend-staging
          frontend-appname: tdp-frontend-staging
          cf-password: CF_PASSWORD_STAGING
          cf-space: tanf-staging
          cf-username: CF_USERNAME_STAGING

  deploy-prod:
    executor: docker-executor
    working_directory: ~/tdp-deploy
    steps:
      - deploy-cloud-dot-gov:
          backend-appname: tdp-backend-prod
          cf-password: CF_PASSWORD_PROD
          cf-space: tanf-prod
          cf-username: CF_USERNAME_PROD
          frontend-appname: tdp-frontend-prod

parameters:
  run_dev_deployment:
    type: boolean
    default: false

  run_owasp_scan:
    type: boolean
    default: false

  target_env:
    type: string
    default: ''

workflows:
  build-and-test:
    unless:
      or:
        - << pipeline.parameters.run_dev_deployment >>
        - << pipeline.parameters.run_owasp_scan >>
    jobs:
      - secrets-check
      - test-frontend:
          requires:
            - secrets-check
      - test-backend:
          requires:
            - secrets-check

  dev-deployment:
    when: << pipeline.parameters.run_dev_deployment >>
    jobs:
      - deploy-infrastructure-dev
      - deploy-dev:
          target_env: << pipeline.parameters.target_env >>
          requires:
            - deploy-infrastructure-dev

  nightly:
    jobs:
      - nightly-owasp-scan
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
               - raft-tdp-main

  owasp-scan:
    when: << pipeline.parameters.run_owasp_scan >>
    jobs:
      - backend-owasp-scan
      - frontend-owasp-scan

  staging-deployment:
    unless: << pipeline.parameters.run_dev_deployment >> 
    jobs:
      - deploy-infrastructure-staging:
          filters:
            branches:
              only:
                - raft-tdp-main
      - deploy-staging:
          requires:
            - deploy-infrastructure-staging
          filters:
            branches:
              only:
                - raft-tdp-main
