version: 2.1
jobs:
  test-backend:
    machine:
      docker_layer_caching: false
    branches:
    steps:
      - checkout
      - run:
          name: 'Ensure docker-compose exists,otherwise install it.'
          command: "./scripts/docker-compose-check.sh"
      - run:
          name: "Test: Build and Spin-up Django API Service"
          command: "cd tdrs-backend; docker-compose -f docker-compose.yml -f docker-compose.ci.yml up -d --build"
      - run:
          name: "Tear Down Django API Service"
          command: "cd tdrs-backend; docker-compose -f docker-compose.yml -f docker-compose.ci.yml down"
      - run:
          name: "Test: Run Unit Tests And Create Code Coverage Report"
          command: "cd tdrs-backend; docker-compose -f docker-compose.yml -f docker-compose.ci.yml run web sh -c \"pytest && pytest --cov-report=xml\""
      - run:
          name: "Upload Backend Coverage Report to CodeCov If On Target Branch"
          command: |
            if [ "$CIRCLE_BRANCH" == "main" ] ; then
              cd tdrs-backend; bash <(curl -s https://codecov.io/bash)  -f ./coverage.xml -F main-backend
            elif [ "$CIRCLE_BRANCH" == "raft-tdp-main" ] ; then
              cd tdrs-backend; bash <(curl -s https://codecov.io/bash)  -f ./coverage.xml -F dev-backend
            fi
      - run:
          name:  "Test: Execute Python Linting Test"
          command: "cd tdrs-backend; docker-compose -f docker-compose.yml -f docker-compose.ci.yml  run --rm web bash -c \"flake8 .\""
      - run:
          name:  "Test: Execute Python OWASP ZAP Vulnerability Scan"
          command: "cd tdrs-backend; ./zap-scanner.sh"
  test-frontend:
    working_directory: ~/tdp-apps
    docker:
      - image: cypress/base:10
        user : root
    steps:
      - setup_remote_docker:
         docker_layer_caching: false
      - checkout
      - run:
          name: 'Ensure docker exists,otherwise install it.'
          command: "./scripts/docker-check.sh"
      - run:
          name: 'Ensure docker-compose exists,otherwise install it.'
          command: "./scripts/docker-compose-check.sh"
      - run:
          name: "Install Package Dependencies"
          command: "cd tdrs-frontend; yarn"
      - run:
          name: "Run ESLint"
          command: "cd tdrs-frontend; yarn lint"
      - run:
          name: "Run Pa11y Accessibility Tests"
          command: "cd tdrs-frontend; yarn test:accessibility"
      - run:
          name: "Run Jest Unit Tests"
          command: "cd tdrs-frontend; SASS_PATH=node_modules:src yarn test:ci"
      - run:
          name: "Upload Frontend Coverage Report to CodeCov If Target Branch"
          command: |
            if [ "$CIRCLE_BRANCH" == "main" ] ; then
              cd tdrs-frontend; bash <(curl -s https://codecov.io/bash)  -f ./coverage/lcov.info -F main-frontend
            elif [ "$CIRCLE_BRANCH" == "raft-tdp-main" ] ; then
              cd tdrs-frontend; bash <(curl -s https://codecov.io/bash)  -f ./coverage/lcov.info -F dev-frontend
            fi
      - run:
          name: "Run Cypress Integration Tests"
          command: "cd tdrs-frontend; yarn cy:run:ci"
      - run:
          name:  "Test: Execute Frontend  OWASP ZAP Vulnerability Scan"
          command: "cd tdrs-frontend; ./zap-scanner.sh"
  deploy:
    working_directory: ~/tdp-deploy
    docker:
      - image: circleci/python:3.8
        user : root
    steps:
      - setup_remote_docker:
         docker_layer_caching: false
      - checkout
      - run:
          name: 'Ensure sudo is installed, otherwise install it.'
          command: "./scripts/sudo-check.sh"
      - run:
          name: 'Ensure cf cli is installed, otherwise install it.'
          command: "./scripts/cf-check.sh"
      - run:
          name: "Log Into Docker"
          command: "echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin"
      - run:
          name:  "Build Backend Docker image"
          command: "cd tdrs-backend; docker build -t lfrohlich/tdp-backend:$CIRCLE_BRANCH . -f ./docker/Dockerfile.dev"
      - run:
          name:  "Push Backend Image to Docker Hub"
          command: "docker push lfrohlich/tdp-backend:$CIRCLE_BRANCH"
      - run:
          name:  "Build Frontend Docker image"
          command: "cd tdrs-frontend; docker build -t lfrohlich/tdp-frontend:$CIRCLE_BRANCH . -f Dockerfile.dev"
      - run:
          name:  "Push Frontend Image to Docker Hub"
          command: "docker push lfrohlich/tdp-frontend:$CIRCLE_BRANCH"
      - run:
          name: deploy to cloud.gov
          command: |
            # If we do not specify a space, then deploy to the branch that we are on.
            # Also map certain branches to spaces.
            # This lets you have dev/staging/main branches that automatically go to the right place.
            export DOCKER_IMAGE_BACKEND="lfrohlich/tdp-backend:$CIRCLE_BRANCH"
            export DOCKER_IMAGE_FRONTEND="lfrohlich/tdp-frontend:$CIRCLE_BRANCH"
            if [ "$CIRCLE_BRANCH" == "main" ] ; then
              export CF_SPACE="tanf-prod"
              export CF_USERNAME="$CF_USERNAME_PROD"
              export CF_PASSWORD="$CF_PASSWORD_PROD"
              export CGHOSTNAME_BACKEND="$CGHOSTNAME_BACKEND_PROD"
              export CGHOSTNAME_FRONTEND="$CGHOSTNAME_FRONTEND_PROD"
            elif [ "$CIRCLE_BRANCH" == "staging" ] ; then
              export CF_SPACE="tanf-staging"
              export CF_USERNAME="$CF_USERNAME_STAGING"
              export CF_PASSWORD="$CF_PASSWORD_STAGING"
              export CGHOSTNAME_BACKEND="$CGHOSTNAME_BACKEND_STAGING"
              export CGHOSTNAME_FRONTEND="$CGHOSTNAME_FRONTEND_STAGING"
            elif [ "$CIRCLE_BRANCH" == "dev" ] ; then
              export CF_SPACE="tanf-dev"
              export CF_USERNAME="$CF_USERNAME_DEV"
              export CF_PASSWORD="$CF_PASSWORD_DEV"
              export CGHOSTNAME_BACKEND="$CGHOSTNAME_BACKEND_DEV"
              export CGHOSTNAME_FRONTEND="$CGHOSTNAME_FRONTEND_DEV"
            elif [ "$CIRCLE_BRANCH" == "raft-tdp-main" ] ; then
              export CF_SPACE="tanf-dev"
              export CF_USERNAME="$CF_USERNAME_DEV"
              export CF_PASSWORD="$CF_PASSWORD_DEV"
              export CGHOSTNAME_BACKEND="$CGHOSTNAME_BACKEND_DEV"
              export CGHOSTNAME_FRONTEND="$CGHOSTNAME_FRONTEND_DEV"
            elif [ "$CIRCLE_BRANCH" == "raft-review" ] ; then
              export CF_SPACE="tanf-dev"
              export CF_USERNAME="$CF_USERNAME_DEV"
              export CF_PASSWORD="$CF_PASSWORD_DEV"
              export CGHOSTNAME_BACKEND="$CGHOSTNAME_BACKEND_DEV"
              export CGHOSTNAME_FRONTEND="$CGHOSTNAME_FRONTEND_DEV"
            else
              export CF_SPACE="$CIRCLE_BRANCH"
            fi
            if [ -z "$CF_ORG" ] ; then
              echo CF_ORG not set, aborting
              exit 1
            fi

            cf api https://api.fr.cloud.gov
            cf auth "$CF_USERNAME" "$CF_PASSWORD"
            cf target -o $CF_ORG -s "$CF_SPACE"
            ./deploy-cloudgov-docker.sh rolling test $CGHOSTNAME_BACKEND $CGHOSTNAME_FRONTEND $DOCKER_IMAGE_BACKEND $DOCKER_IMAGE_FRONTEND $CIRCLE_BRANCH
workflows:
  build-and-test:
    jobs:
      - test-backend
      - test-frontend
      - deploy:
          requires:
            - test-backend
            - test-frontend
          filters:
            branches:
              only:
                - raft-tdp-main
                - raft-review
