# jobs:
  make_erd:
    executor: machine-executor
    working_directory: ~/tdp_apps
    steps:
      - checkout
      - docker-compose-check
      - run:
          name: Run graph_models
          command: |
            cd tdrs-backend;
            if [ $(docker network inspect external-net 2>&1 | grep -c Scope) == 0 ]; then 
            docker network create external-net
            fi
            docker-compose run --rm web bash -c \
            "./manage.py graph_models -a -g -o tdp_erd.png"
      - store_artifacts:
          path: tdrs-backend/tdp_erd.png
