{% extends "base-generic.html" %}

{% block content %}
	<h1>View Data in a Calendar Quarter</h1>
	<p>View data uploaded to the TANF Data Reporting system!</p>

	<form action="{% url 'viewquarter' %}" method="get">
	    <p>Calendar Quarter to View:
		<select name="calquarter" onchange="this.form.submit()">
		{% for cq in calquarters %}
			{% if selected_calquarter == cq %}
				<option value="{{ cq }}" selected>{{ cq }}</option>
			{% else %}
				<option value="{{ cq }}">{{ cq }}</option>
			{% endif %}
		{% endfor %}
		</select>
	    Hits Per Page:
	    <select name="hitsperpage" onchange="this.form.submit()" style="width: 100px;">
	      {% for hits in hitsperpagelist %}
	        {% if selected_hitsperpage == hits %}
	          <option value="{{ hits }}" selected>{{ hits }}</option>
	        {% else %}
	          <option value="{{ hits }}">{{ hits }}</option>
	        {% endif %}
	      {% endfor %}
	    </select></p>
	</form>

	<table>
		{% for row in data %}
			<tr>
				{% for key, value in row.fields.items %}
					<td>{{ value }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

	{% if page.paginator.num_pages > 1 %}
	<div class="pagination">
	    <span class="step-links">
	        {% if page.has_previous %}
	            <a href="?page=1&table={{selected_table}}">&laquo; first</a>
	            <a href="?page={{ page.previous_page_number }}&table={{selected_table}}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ page.number }} of {{ page.paginator.num_pages }}.
	        </span>

	        {% if page.has_next %}
	            <a href="?page={{ page.next_page_number }}&table={{selected_table}}">next</a>
	            <a href="?page={{ page.paginator.num_pages }}&table={{selected_table}}">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>
	{% endif %}

{% endblock %}
