.resource-card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 110px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 640px) {
  .resource-info__secondary {
    display: none;
  }
}
