version: "3.4"
services:
  zaproxy:
    image: owasp/zap2docker-weekly
    container_name: zap-scan
    command: sleep 3600
    ports:
      - 8090:8090
    networks:
      - local
    volumes:
      - ./reports:/zap/wrk/:rw
      - ../scripts/zap-hook.py:/zap/scripts/zap-hook.py:ro
  tdp-frontend:
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    build:
      context: .
      target: nginx
    ports:
      - 3000:80
    volumes:
      - ./:/home/node/app
    networks:
      - local
networks:
  local:
    driver: bridge
