version: "3"
services:
  zaproxy:
    image: owasp/zap2docker-stable
    container_name: zap-scan
    command: sleep 3600
    ports:
      - 8090:8090
    networks:
      - local
  tdp-frontend:
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: tdp-ui
    ports:
      - 3000:80
    volumes:
      - ./:/home/node/app
    networks:
      - local
networks:
  local:
    driver: bridge
