{% extends '../base.html' %}
{% block content %}



<!-- Body copy -->
<p style="color: #000000;">
</p>

<p>Hello,</p>

<p>The system has detected stuck data submissions.</p>

<table
  style="width: 100%; background-color: #ffffff; border-width: 1px; border-color: #000000; border-style: solid; color: #000000; text-align: left; margin-bottom: 8px; font-size: 8pt;">
  <thead style="border-style: solid; border-color: #000000; border-width: 1px; background-color: #e6e6e6;">
    <tr>
      <th style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">Stt</th>
      <th style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">Section</th>
      <th style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">Fiscal year</th>
      <th style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">Submitted on</th>
      <th style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">File</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
    <tr>
      <td style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">{{ file.stt }}</td>
      <td style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">{{ file.section }}</td>
      <td style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">{{ file.fiscal_year }}</td>
      <td style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">{{ file.created_at }} {{ file.created_time_ago }}</td>
      <td style="padding: 4px; border-style: solid; border-color: #000000; border-width: 1px;">
        <a href={{ file.admin_link }}>View in Admin Console</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
