@import 'theme/_global.scss';

html, body, div#root {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.usa-banner__header {
  display: none;
  padding: 0;
  margin: 0;
}

main#main-content {
  min-height: calc(100% - 239px);
  padding: 0;
  margin: 0;
}

@include media(">=medium") {
  .usa-banner {
    background-color: #ebf3fa;
    &__header {
      display: block;
      background-color: #122E51;
      &-text {
        color: white;
      }
    }
    &__button {
      &-text {
        color: white;
      }
      &::after {
        background-color: white;
      }
      &:hover {
        &::after {
          background-color: white;
        }
      }
    }
    &__button[aria-expanded=true]::after,
    &__button[aria-expanded=true]:hover::after {
      background-color: white;
    }
  }
}
