$theme-show-compile-warnings: false;
$theme-font-path: '../../../fonts';
$theme-image-path: '../../../img';
$theme-hero-image: '../../img/hero.png';
// $theme-show-notifications: false;

@import 'uswds/dist/scss/uswds';

// @import './assets/App';
// @import './assets/Header';
@import './assets/SplashPage';
// @import './assets/EditProfile';
// @import './assets/Footer';