$theme-hero-image: '../../img/hero.png';
$sans-serif: Arial, Helvetica, sans-serif;
$button-color: #336A90;
$main-text-color: #264A64;
$secondary-text-color: #221122;
$main-background-color: #E2EFF7;
$active-color: #A12854;
$disabled-color: #4A4A4A;
$gov-banner-background: #122E51;

@import "./assets/uswds/uswds-theme-general";
@import "./assets/uswds/uswds-theme-typography";
@import "./assets/uswds/uswds-theme-spacing";
@import "./assets/uswds/uswds-theme-color";
@import "./assets/uswds/uswds-theme-utilities";
@import "uswds/dist/scss/uswds";

@import 'theme/global';

@import './assets/App';
@import './assets/GovBanner';
@import './assets/Header';
@import './assets/SplashPage';
@import './assets/EditProfile';
@import './assets/Footer';