// I know that these double classes are bad practice but this is the only way we could find
// to be able to override the default values coming from classes. This is done in multiple places
// to ensure that it matches the mock but will be reworked later.

.resources-header {
  color: #221122;
}

.usa-hero__callout.usa-hero__callout {
  background-color: #E2EFF7;
  font-family: Arial, Helvetica, sans-serif;
}

.usa-hero__heading--alt.usa-hero__heading--alt {
  color: #264A64;
}

.sign-in-button.sign-in-button,
.sign-in-button:hover.sign-in-button:hover {
  background-color: #336A90;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.resource-info__secondary.resource-info__secondary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.resource-card {
  height: 110px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 640px) {
  .resource-info__secondary {
    display: none;
  }
}
