local.file_match "system" {
	path_targets = [{
		__address__ = "localhost",
		__path__    = "/var/log/*log",
		job         = "varlogs-local",
	}]
}

loki.source.file "system" {
	targets               = local.file_match.system.targets
	forward_to            = [loki.write.default.receiver]
	legacy_positions_file = "/tmp/positions.yaml"
}

local.file_match "backend_local" {
	path_targets = [{
		__address__ = "localhost",
		__path__    = "/logs/django.log",
		job         = "backend-local",
	}]
}

loki.process "backend_local" {
	forward_to = [loki.write.default.receiver]

	stage.regex {
		expression = "^(?P<time>\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2},\\d{3}) (?P<level>\\w+) (?P<logger>\\S+) (?P<message>.*)$"
	}

	stage.labels {
		values = {
			level   = null,
			logger  = null,
			message = null,
			time    = null,
		}
	}
}

loki.source.file "backend_local" {
	targets               = local.file_match.backend_local.targets
	forward_to            = [loki.process.backend_local.receiver]
	legacy_positions_file = "/tmp/positions.yaml"
}

local.file_match "backend_prod" {
	path_targets = [{
		__address__ = "localhost",
		__path__    = "/logs/django.log",
		job         = "backend-prod",
	}]
}

loki.source.file "backend_prod" {
	targets               = local.file_match.backend_prod.targets
	forward_to            = [loki.write.default.receiver]
	legacy_positions_file = "/tmp/positions.yaml"
}

local.file_match "frontend_local" {
	path_targets = [{
		__address__ = "localhost",
		__path__    = "/var/log/nginx/access_log.log",
		job         = "frontend-local",
		level       = "DEBUG",
	}, {
		__address__ = "localhost",
		__path__    = "/var/log/nginx/error_log.log",
		job         = "frontend-local",
		level       = "ERROR",
	}]
}

loki.source.file "frontend_local" {
	targets               = local.file_match.frontend_local.targets
	forward_to            = [loki.write.default.receiver]
	legacy_positions_file = "/tmp/positions.yaml"
}

loki.write "default" {
	endpoint {
		url = "http://loki:3100/loki/api/v1/push"
	}
	external_labels = {}
}
