{% extends '../base.html' %}
{% block content %}
<!-- Body copy -->
<p style="color: #000000;">
    <p>Dear {{ first_name }},</p>

    <p>Your {{ field_label|lower }} change has been <strong>approved</strong>.</p>

    <ul>
      <li><p><strong>Previous:</strong> {{ current_value }}</p></li>
      <li><p><strong>New:</strong> {{ requested_value }}</p></li>
    </ul>

    {% if notes %}
        <p><strong>Notes from reviewer:</strong> {{ notes }}</p>
    {% endif %}
    <p><a href="{{ url }}">Return to the TANF Data Portal</a></p>
</p>
{% endblock %}
