{% extends 'base.html' %}
{% block content %}
<!-- Body copy -->
<p style="color: #000000;">
    <p>Dear {{ first_name }},</p>

    <p><b>Your request for {{ stt_name }} access to the TANF Data Portal (TDP) has been submitted for review.</b></p>

    <p>You can <a href="{{ url }}" target="_blank">view the status</a> of your request by logging into TDP.</p>

    <b>Need help?</b><br>
    We're here for you! Check out the <a href="http://tdp-project-updates.app.cloud.gov/knowledge-center/" target="_blank">Getting Started</a> guide or reach out to the TDP Admin team at <a href="mailto:TANFData@acf.hhs.gov" target="_blank">TANFData@acf.hhs.gov</a>.

    <p>Thank you,</p>
    TDP Team
</p>
{% endblock %}
