{% extends '../datafile_base.html' %}

{% block message %}
Your <b>{{ file_type }}</b> data files submitted for <b>{{ stt_name }}</b> on <b>{{ submission_date }}</b> in Fiscal Year <b>{{ fiscal_year }}</b> have been processed and accepted.
{% endblock %}

{% block table %}
<table>
    <caption>
      Submitted files:
    </caption>
    <thead>
        <tr>
            <th>Section</th>
            <th>Submitted By</th>
            <th>Status</th>
            <th>Records Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ section_name }}</td>
            <td>{{ submitted_by }}</td>
            <td>{{ status }}</td>
            <td>{{ records_created }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block end_message %}
The data file can now be accessed on the FRA Data Files page.
{% endblock %}
