# jobs:
  backend-owasp-scan:
    executor: machine-executor
    working_directory: ~/tdp-apps
    steps:
      - checkout
      - docker-compose-check
      - docker-compose-up-backend
      - run:
          name: Wait for Django to become available
          command: |
            cd tdrs-backend;
            docker-compose run --rm zaproxy bash -c \
              "PATH=$PATH:/home/zap/.local/bin &&
               pip install wait-for-it &&
               wait-for-it --service http://web:8080 \
                           --timeout 60 \
                           -- echo \"Django is ready\""
      - run-owasp-scan:
          environment: circle
          target: backend

  frontend-owasp-scan:
    executor: machine-executor
    working_directory: ~/tdp-apps
    steps:
      - checkout
      - docker-compose-check
      - docker-compose-up-frontend
      - run:
          name: Wait for frontend to become available
          command: |
            cd tdrs-frontend;
            docker-compose run --rm zaproxy bash -c \
              "PATH=$PATH:/home/zap/.local/bin &&
               pip install wait-for-it &&
               wait-for-it --service http://tdp-frontend/ \
                           --timeout 60 \
                           -- echo \"Frontend is ready\""
      - run-owasp-scan:
          environment: circle
          target: frontend

  nightly-owasp-scan:
    executor: machine-executor
    working_directory: ~/tdp-apps
    parameters:
      cf_password:
        type: string
        default: CF_PASSWORD_STAGING
      cf_username:
        type: string
        default: CF_USERNAME_STAGING
      cf_space:
        type: string
        default: tanf-staging
      target_env:
        type: enum
        enum: [ "staging", "develop", "prod" ]
    steps:
      - checkout
      - sudo-check
      - cf-check
      - docker-compose-check
      - run-owasp-scan:
          environment: nightly
          target: backend
          target_env: <<parameters.target_env>>
      - run-owasp-scan:
          environment: nightly
          target: frontend
          target_env: <<parameters.target_env>>
      - login-cloud-dot-gov:
          cf-password: <<parameters.cf_password>>
          cf-space: <<parameters.cf_space>>
          cf-username: <<parameters.cf_username>>
      - run:
          name: Run post-processing task to record OWASP ZAP results
          command: |
            # Construct the project slug from the current branch name and user
            PROJECT_SLUG=$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME

            # These environment variables are exported to Circle CI's BASH_ENV
            # by the zap-scanner.sh script for each respective app target.
            CMD_ARGS=(
              "$CIRCLE_BUILD_NUM"
              --backend-pass-count ${ZAP_BACKEND_PASS_COUNT:-0}
              --backend-warn-count ${ZAP_BACKEND_WARN_COUNT:-0}
              --backend-fail-count ${ZAP_BACKEND_FAIL_COUNT:-0}
              --frontend-pass-count ${ZAP_FRONTEND_PASS_COUNT:-0}
              --frontend-warn-count ${ZAP_FRONTEND_WARN_COUNT:-0}
              --frontend-fail-count ${ZAP_FRONTEND_FAIL_COUNT:-0}
              --project-slug $PROJECT_SLUG
            )
            # Evaluate the full command before passing it in so it doesn't
            # get improperly interpolated by Cloud.gov.
            CMD="python manage.py process_owasp_scan ${CMD_ARGS[@]}"
            # Submit a CF Task for execution that will run the necessary command
            cf run-task tdp-backend-<< parameters.target_env >> \
              --command "$CMD" \
              --name nightly-owasp-scan
