###########################################################################
# GitHub Action Workflow
# On push to any branch, triggers the front end build and test pipeline
# if the tdrs-frontend has changed.
#
# Step 0: make changes on your branch to non-documentation files in
#         tdrs-frontend and push changes to your remote branch
#
# Step 1: Makes a request to the V2 CircleCI API to initiate the project,
#         which will filter based upon build_and_test_frontend 
#         to run the workflow/jobs listed here:
#           build-and-test:[
#             test-frontend,
#             test-e2e
#           ]
#
#         Leverages the open source GitHub Action:
#           https://github.com/promiseofcake/circleci-trigger-action
###########################################################################
name: Build Only Frontend When tdrs-frontend Files Change
  branches-ignore:
  - develop
  on:
    push:
      paths: 'tdrs-frontend/**'
      paths_ignore:
        - '**.md'
        - '**.txt'
  jobs:
    build_and_test_frontend:
      runs-on: ubuntu-latest
      name: Build and Test Frontend
      steps:
      - uses: actions/checkout@v2
      - name: Circle CI Deployment Trigger
        id: curl-circle-ci
        uses: promiseofcake/circleci-trigger-action@v1
        with:
          user-token: ${{ secrets.CIRCLE_CI_V2_TOKEN }}
          project-slug: raft-tech/TANF-app
          branch: ${{ github.ref }}
          payload: '{"build_and_test_frontend": true}'